<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SmartBr - Live</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}">
  {{/each}}
  {{#each jquery}}
      <script src="/js/{{this}}"></script>
  {{/each}}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">  
  {{>_home/_aside_left}}
  {{>_home/_navbar}}
  <div class="content-wrapper">
      {{{body}}}
  </div>
  {{>_home/_footer}}
</div>
{{#each js}}
    <script src="/js/{{this}}"></script>
{{/each}}
</body>
</html>
