<style>
  .chart_quest{
    background-color: aqua;
  }
  .fadedTest{
        font-size: 21px;
        text-align: center;
        animation: fadein 2s;
        -moz-animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -o-animation: fadein 2s;
    }
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
</style>
<div class="container-fluid">
    <div id="chart_quest"></div>
    <div class="row fadedTest">
      <div class="col-lg-12">
      </div>
    </div>
</div>
<script type="text/javascript">
    $.getJSON("/questionnaries/subgroups/getdetails/{{idqnr}}/{{idsub}}", (dato)=>{
      let datos = dato[1];
      let subName = dato[0];
      google.charts.load("visualization", "1", {packages:['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(results());
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                        { calc: "stringify",
                          sourceColumn: 1,
                          type: "string",
                          role: "annotation" },
                        2]);
        var options = {
          title: subName[0],
          width: '100%',
          height: 250,
          bar: {groupWidth: "60%"},
          legend: { position: "none" },
          animation: {
            "startup": true,
            duration: 3000,
            easing: 'out',
          },
          vAxis: {
              viewWindow:{
                max:100,
                min:0
              },
              minValue:0
            },

        };
        var chart = new google.visualization.ColumnChart(document.getElementById("chart_quest"));
        chart.draw(view, options);
        function results(){
          var aux = [["Questão", "Pontuação", { role: "style" } ]];
          colors = ['#08fdcc', '#00b4d8', '#11cea8', '#04ece1', '#05d1e4', '#04ec9f', '#0077b6', '#29ebe1', '#90e0ef', '#33e6b0'];
          for(let i = 0; i < datos.length; i++){
            aux.push([datos[i].question, datos[i].percentage, `stroke-color: ${colors[i]}; stroke-opacity: 0.8; stroke-width: 4; fill-color: ${colors[i]}; fill-opacity: 0.5`]);
          }
          return aux;
        }
      }
      $(window).resize(function(){
        drawChart();
      });
    });
</script>