<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="chart chart-lg">
                <div class="radio_chart"></div>
                <div class="cap"></div>
                <div class="value" id="">
                    0%
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        {{#each groups}}
            <div class="col text-center">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="chart chart-sm" onclick="redirect({{id}}, '{{../reference}}')">
                            <div class="radio_chart radioChartContent"></div>
                            <div class="cap"></div>
                            <div class="value percentValue" data-progress="{{percentage}}">
                                0%
                            </div>
                        </div>
                        <label for="">{{name}}</label>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        {{/each}}

    </div>
</div>
<script>
    function redirect(idgroup, idqnr){
        window.location.href = `/questionnaries/groups/details/${idqnr}/${idgroup}`;
    }
    function goTo(i) {
        reset(i);
        setTimeout(function () {
            var chart = $(".radioChartContent")[i];
            var pVal = $(".percentValue")[i];
            let frame = pVal.getAttribute('data-progress');

            chart.classList.add("animate");

            var currentPercent = 0;
            var currTimeout = setInterval(function () {

                if (currentPercent >= frame || currentPercent >= 100) {
                    pVal.innerHTML = frame + '%';
                    clearInterval(currTimeout);

                    chart.style.animationPlayState = "paused";
                    chart.style.webkitAnimationPlayState = "paused";

                    return false;
                } else {
                    //Sum percentage    
                    currentPercent++;
                    //show new percentage    
                    pVal.innerHTML = currentPercent + "%";
                }
            }, 10);
        }, 100);
    }

    function reset(i) {
        var chart = $(".radioChartContent")[i];
        var pVal = $(".percentValue")[i];
        chart.classList.remove("animate");
        pVal.innerHTML = "0%";
        chart.style.animationPlayState = "initial";
        chart.style.webkitAnimationPlayState = "initial";
    }
    var mypVal = $(".percentValue");
    for(let i = 0; i < mypVal.length; i++){
        goTo(i);
    }   
</script>