<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="row mb-5">
  <div class="col-lg-6 col-md-12">
    <div id="chart_div"></div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="embed-responsive embed-responsive-4by3" id="myFrame">
    </div>
  </div>

</div>
<!--Grid row-->
<script type="text/javascript">
    var ids = [];
    $.getJSON("/questionnaries/getresult/{{reference}}", (dato)=>{
      console.log(dato)
      let datos = dato;
      google.charts.load("current", {packages:['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(results());
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                        { calc: "stringify",
                          sourceColumn: 1,
                          type: "string",
                          role: "annotation" },
                        2]);

        var options = {
          title: "Perguntas - Número de acertos",
          width: 500,
          height: 400,
          bar: {groupWidth: "40%"},
          legend: { position: "none" },
          vAxis: { 
              title: "Grupos", 
              viewWindowMode:'explicit',
              viewWindow:{
                max:100,
                min:0
              }
            }
        };
        var vAxisNumber = new google.visualization.NumberFormat({pattern:'##,##%'});
        vAxisNumber.format(data, 1);
        var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));
        chart.draw(view, options);
        google.visualization.events.addListener(chart, 'select', selectHandler);

        function selectHandler() {
          var selection = chart.getSelection();
          for (var i = 0; i < selection.length; i++) {
            var item = selection[i];
            if (item.row != null && item.column != null) {
              var str = data.getFormattedValue(item.row, item.column);
              var category = data.getValue(chart.getSelection()[0].row, 0)
              var id = ids[chart.getSelection()[0].row];
              reqDetails(id)
            } 
          }
        }
      }
      function results(){
        var aux = [["Element", "Density", { role: "style" } ]];
        for(let i = 0; i < datos.length; i++){
          ids.push(datos[i].id);
          aux.push([datos[i].name, datos[i].percentage,'strstrokeoke-color: #0077b6; stroke-opacity: 0.8; stroke-width: 4; fill-color: #0077b6; fill-opacity: 0.5']);
        }
        return aux;
      }
    });
    function reqDetails(id){
      $.ajax({
        type: 'GET',
        url: '',
        success: function(data){

        }
      });
      $("#myFrame").html('');
      $("#myFrame").html('<iframe class="embed-responsive-item" src="/groups" style="height: 100%" allowfullscreen></iframe>');
    }
</script>